<div class="footer">
  <p>
    &copy; 2016 <a href="http://www.joecode.com">JoeCode</a> | Built with 
    <a href="http://wkhtmltopdf.org">WK&lt;html&gt;TOpdf</a>,   
    <a href="http://www.sinatrarb.com">Sinatra</a>, and
    <a href="http://getbootstrap.com">Bootstrap</a> | 
    <a href="https://github.com/joewils/oranda">Source</a>
  </p>
</div>